<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>read</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list *ngIf="isload">

          <ion-item *ngFor="let item of info">
            <ion-row>
              <ion-col size="6">
                <ion-item lines="none">
                  <label>{{item.name}}</label>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <div>
                  <ion-button (click)="upDateElement(item.id,item)" expand="block" fill="clear" shape="round">
                    Editar
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-item>
      
    </ion-list>
  </div>
</ion-content>
